@import url(http://fonts.googleapis.com/css?family=Roboto:400);

a {
	font: normal 14px Roboto, arial, sans-serif;
	color: #CECEF6;
}

body {
	background-color: #666;
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto, arial, sans-serif;
}

.centered {
	margin-left: 20px;
}

.dropdown-menu {
	background-color: #CECEF6;
	padding-right: 10px;
	padding-left: 10px;
	width: 30px;
}

.wrap {
	background-color: #666;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
	border-color: #d2d2d2;
	border-width: 5px;
	box-shadow: 0 1px 0 #cfcfcf;
}

/* Fonts */
h1 {
	padding-bottom: 30px;
	font: normal Roboto, arial, sans-serif;
	color: #CECEF6;
}

span {
	font: normal 14px Roboto, arial, sans-serif;
	color: #555;
}

/* Containers */
.container {
	background-color: #444;
	padding: 25px;
}

.container-head {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #444;
}